---
layout: default
---
{% assign hero_num = page.url | size | modulo: 6 | plus: 1 %}
<header class="subpage-header" style="background-image: linear-gradient(rgba(34,34,34,0.55), rgba(34,34,34,0.55)), url('{{ '/img/portfolio/' | append: hero_num | append: '.jpg' | relative_url }}');">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>{{ page.title | escape }}</h1>
      <hr>
      {% if page.description %}
        <p>{{ page.description }}</p>
      {% endif %}
    </div>
  </div>
</header>

<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <article class="content-body">
          {{ content }}
        </article>
      </div>
    </div>
  </div>
</section>
