---
layout: default
---
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <article class="content-body" itemscope itemtype="http://schema.org/BlogPosting">
          <header>
            <h1 itemprop="headline">{{ page.title | escape }}</h1>
            <p class="muted-meta">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
              {% if page.author %} · <span itemprop="author">{{ page.author }}</span>{% endif %}
            </p>
            <hr class="primary">
          </header>

          <div itemprop="articleBody">
            {{ content }}
          </div>

          {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
          {% endif %}
        </article>
      </div>
    </div>
  </div>
</section>
